/* BASE */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    min-height: 100%;
    color: #333;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

p {
    line-height: 1.44;
}

/* VISUALLYHIDDEN CLASS */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* BUTTON */
.button {
    cursor: pointer;
    font: inherit;
    background-color: rgb(244, 244, 244);
    border: 1px solid transparent;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    min-width: 80px;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all .15s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button[disabled] {
    background-color: #D3D3D3;
}

.button::-moz-focus-inner {
    border: none;
}

.button:active {
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.button:hover {
    background-color: rgb(234, 234, 234);
    text-decoration: none;
}

.button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px rgb(234, 234, 234);
}

.button--dark {
    background-color: #0f76bb;
    color: #fff;
}

.button--dark:hover,
.button--dark:focus {
    color: #fff;
    background-color: #00adef;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px rgb(47, 156, 200);
}

.button--small {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
}

.button--transparent {
    background: transparent;
    color: #333;
    font-weight: bold;
    transition: 0.15s ease-in-out;
}

.button--transparent:hover,
.button--transparent:focus {
    background: rgb(234, 234, 234);
    color: #333;
}

.button--primary {
    background-color: #41B5E6;
    color: #fff;
}

.button--primary:hover {
    color: #fff;
    background-color: rgb(38, 173, 226);
}

.button--primary:focus {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px rgb(47, 156, 200);
}

.button--primary[disabled]:hover {
    color: #fff;
    background-color: #D3D3D3;
}

.button--inverse {
    background: transparent;
    border: 1px solid #41B5E6;
    color: #41B5E6;
}

.button--inverse:hover,
.button--inverse:focus,
.button--inverse:active {
    background: rgba(65, 181, 230, .1);
    color: #41B5E6;
    box-shadow: none;
    transform: none;
    filter: initial;
}

.button--link {
    padding: 0;
    height: auto;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    color: #1688b8;
    text-transform: capitalize;
}

.button--link:hover {
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
}

.button--link:focus {
    text-decoration: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}

.button--link:active {
    filter: none;
    transform: none;
}

.button--warning {
    color: #fff;
    background-color: #e81123;
}

.button--warning:hover {
    color: #fff;
    background-color: #a80000;
}

.button--warning:focus {
    background-color: #a80000;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px #a80000;
}

.button--confirm {
    margin-right: 5px;
}

.button--pre {
    text-transform: initial;
}

/* LINK */
.link {
    color: #1688b8;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* INPUT */
.input {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding: 12px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
}

.input--invalid {
    border-color: #a80000;
}

.input--invalid:focus {
    border-color: #a80000;
}

.input::placeholder {
    color: #a8a8a8 !important;
}

.input::-webkit-input-placeholder {
    color: #a8a8a8 !important;
}

.input::-moz-placeholder {
    color: #a8a8a8 !important;
}

.input::-ms-input-placeholder {
    color: #a8a8a8 !important;
}

.input:-ms-input-placeholder {
    color: #a8a8a8 !important;
}

.input:-moz-placeholder {
    color: #a8a8a8 !important;
}

.input:focus {
    border-color: #0078d4;
}

input[disabled] {
    background-color: #D3D3D3;
}

/* SECTION */
.section__inner-content {
    position: relative;
    padding: 100px 60px 40px;
}

.local_qt_provider {
    margin-bottom: 45px;
}

/* AUTH SECTION */
.auth-section {
    height: 100vh;
    min-height: 100vh;
    padding: 60px 30px;
    position: relative;
}

.update-user-section {
    height: auto;
    min-height: auto;
}

/* FORM WRAPPER */
.form-wrapper {
    margin: 0 auto;
    max-width: 445px;
    position: relative;
}

/* FORM */
.form {
    display: block;
}

.form--hidden {
    display: none;
}

.form__desc {
    margin-bottom: 35px;
    padding: 0;
    text-align: center;
}

.form__title {
    font-weight: 500;
    margin: 0;
    margin-bottom: 25px;
}

.form__info-tip--large {
    font-size: 18px;
    font-weight: 500;
}

.form__error {
    background-color: #f3e2db;
    padding: 5px;
    margin-top: 10px;
}

.form__error--hide {
    display: none;
}

.form__error-text {
    color: #a80000;
    margin: 0;
}

.form__label {
    display: block;
    margin-bottom: 7px;
}

.form__row {
    margin-bottom: 20px;
}

.form__row--button {
    margin-top: 40px;
}

.form__row--flex-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.form__button {
    width: 100%;
}

.form__button--aligned-left {
    margin-right: auto;
    order: -1;
}

/* SUCCESS NOTIFICATION */
.success-notification {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.success-notification__icon-block {
    margin-bottom: 45px;
}

.success-notification__icon {
    color: #32b742;
    font-size: 64px;
}

.success-notification__message {
    background-color: #e5efe4;
    font-size: 16px;
    margin-bottom: 115px;
    padding: 20px 50px;
}

.success-notification__message-text {
    color: #2b8651;
    margin: 0;
}

.success-notification__actions {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.success-notification__button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.success-notification__button--return {
    margin-right: 0 !important;
}

.success-notification__button:first-child {
    margin-right: 20px;
}

.success-notification--hidden {
    display: none;
}

/* FAIL NOTIFICATION */
.fail-notification {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.fail-notification__icon-block {
    margin-bottom: 45px;
}

.fail-notification__icon {
    color: #bf4430;
    font-size: 64px;
}

.fail-notification__message {
    background-color: #f7e2de;
    font-size: 16px;
    margin-bottom: 115px;
    padding: 20px 50px;
}

.fail-notification__message-text {
    color: #bf4430;
    margin: 0;
}

.fail-notification__actions {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.fail-notification__button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.fail-notification__button:first-child {
    margin-right: 20px;
}

.fail-notification--hidden {
    display: none;
}

/* OVERLAY */
.overlay {
    background: rgba(255, 255, 255, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.overlay--modal {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    visibility: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.25s;
}

.overlay--active {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay--modal.overlay--active {
    visibility: visible;
    display: flex;
    opacity: 1;
}

/* SPINNER */
.spinner {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
    border-bottom-color: #c7e0f4;
    border-left-color: #c7e0f4;
    border-radius: 50%;
    border-right-color: #c7e0f4;
    border-style: solid;
    border-top-color: #0078d4;
    border-width: 1.5px;
    height: 36px;
    width: 36px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* MFA */
.box-container {
    padding: 15px 25px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.box-container--inline {
    padding: 10px 25px;
}

.mfa {
    max-width: 560px;
    margin: 0 auto;
}

.mfa__content-block,
.mfa__header {
    margin-bottom: 45px;
}

.mfa__title {
    font-weight: 500;
}

.mfa__header {
    margin-bottom: 25px;
}

.mfa__enabled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.mfa__enabled--hidden {
    display: none;
}

.mfa-card {
    position: relative;
    margin-bottom: 20px;
}

.mfa-card--disabled:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    pointer-events: auto;
}

.mfa-card.mfa-card--disabled {
    border-left: 4px solid transparent;
}

.mfa-card__enabled {
    position: absolute;
    top: 15px;
    right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.mfa-card__enabled-icon {
    margin-right: 7px;
    color: #107c10;
    font-size: 16px;
}

.mfa-card__actions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.mfa-card__badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mfa-card__enabled-text {
    color: #107c10;
    font-size: 16px;
}

.mfa-card:last-child {
    margin-bottom: 0;
}

.mfa-card--google-auth {
    border-left: 4px solid #4285f4;
}

.mfa-card--authy {
    border-left: 4px solid #ff5e52;
}

.mfa-card--local {
    border-left: 4px solid #22b089;
}

.mfa-card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.mfa-card__icon-wrapper {
    flex: 0 0 auto;
    padding-right: 15px;
}

.mfa-card__content {
    flex: 1 1 auto;
}

.mfa-card__title {
    margin-top: 0;
}

.mfa-card__desc {
    color: rgba(0, 0, 0, 0.65);
}

.mfa-card__actions .button {
    margin-right: 5px;
}

/* UPDATE USER PAGE */
.update-user-page {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    padding: 0 30px;
    padding-top: 60px;
}

.update-user-page__title {
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.azure-section .section__inner-content,
.update-user-section .section__inner-content {
    padding-top: 40px;
}

.azureAd {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.azureAd__text {
    text-align: left;
    margin-top: 0;
    margin-bottom: 25px;
}

.horizontail-divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 25px 0;
}

/* TABS */
.tabs-panel {
    background: rgb(244, 244, 244);
    max-width: 620px;
    min-width: 290px;
    margin: 0 auto;
    height: 40px;
}

.redirectUrl__container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.redirectUrl__container .button {
    min-width: 290px;
    width: 400px;
}

.tabs-panel__container,
.tabs-panel__list,
.tabs-panel__item,
.tabs-panel__button {
    height: inherit;
}

.tabs-panel__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tabs-panel__item {
    flex: 1 1 auto;
}

.tabs-panel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs-panel__button--active,
.tabs-panel__button:hover,
.tabs-panel__button:focus,
.tabs-panel__buttons:active {
    color: #00adef;
    border-bottom: 2px solid #00adef;
}

.tabs-panel__button i {
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
}

.tabs-content {
    display: none;
}

.tabs-content--active {
    display: block;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 599px) {
    .update-user-page {
        padding: 0 15px;
    }

    .section__inner-content {
        padding: 40px 0 20px;
    }

    .notifications__container {
        left: 0;
        top: auto;
        bottom: 0;
    }
}

/* CONFIGURE AUTHENTICATOR */
.section--wrapped {
    max-width: 960px;
    margin: 0 auto;
}

.section--wrapped .section__inner-content {
    padding-top: 40px;
}

.verification-code {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #41B5e6;
    border-radius: 3px;
    white-space: nowrap;
}

.qrCode {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.input--fixed {
    max-width: 250px;
}

.form__label--bold {
    font-weight: 600;
}

#verificationForm {
    max-width: 250px;
}

/* RECOVERY CODES */
.recovery-codes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 220px;
    padding: 20px 0;
    margin: 0 auto;
    list-style-type: none;
}

.recovery-codes__item {
    padding: 5px;
    margin: 5px;
    background: #edf1f4;
    flex: 1 1 auto;
    max-width: 100px;
    text-align: center;
}

.recovery-codes__code {
    font-size: 16px;
    font-weight: 600;
}

/* MODAL */
.modal {
    visibility: hidden;
    backface-visibility: hidden;
    min-width: 320px;
    position: relative;
    background: #fff;
    max-width: 630px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    max-height: 100%;
    z-index: 20;
    opacity: 0;
    transition: all 0.25s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.modal__header {
    padding: 20px 0;
    position: relative;
}

.modal__container {
    padding: 0 30px;
}

.modal__title {
    margin: 0;
    font-weight: 100;
}

.modal__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal__close-button:hover {
    color: #41B5E6;
}

.modal__close-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff,
    0 0 0 3px rgb(47, 156, 200);
}

.modal__desc {
    margin: 0;
}

.modal__footer {
    padding: 20px 0;
}

.modal__actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.modal--is-opened {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.validation-error {
    color: #a80000;
    text-align: center;
    margin-bottom: 15px;
    background: #f3e2db;
    padding: 5px;
}

/* NOTIFICATIONS */
.notifications-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.notification {
    margin-bottom: 10px;
    color: #333;
    width: 100%;
    word-break: break-word;
    min-height: 32px;
    position: relative;
    display: flex;
    background-color: rgb(244, 244, 244);
}

.notification--success {
    background-color: #dff6dd;
}

.notificatin--alert {
    background-color: #fff4ce;
}

.notification--warning {
    background-color: #fed9cc;
}

.notification--error {
    background-color: #facfd3;
}

.notification__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
}

.notification__icon-container {
    font-size: 16px;
    min-width: 16px;
    min-height: 16px;
    display: flex;
    color: rgb(102, 102, 102);
    flex-shrink: 0;
    margin: 15px 0 15px 15px;
}

.notification__content {
    justify-content: center;
    min-width: 0px;
    display: flex;
    flex-grow: 1;
    margin: 16px 8px;
    font-size: 12px;
    font-weight: 400;
}

.notification__text {
    margin: 0;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notification__close-button {
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    padding: 0px 4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    flex-shrink: 0;
    margin: 8px 8px 8px 0px;
    user-select: none;
    touch-action: manipulation;
    outline: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 0px;
}

/* LOADING DOTS */
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 40px 0 45px 0;
}

.loading-dots__dot {
    background-color: #41B5E6;
    border-radius: 50%;
    margin: 0 5px;
    height: 10px;
    width: 10px;
    animation: dot-keyframes 1.5s infinite ease-in-out;
}

.loading-dots__dot:nth-child(2) {
    animation-delay: .5s;
}

.loading-dots__dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dot-keyframes {
    0% {
        opacity: .4;
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }

    100% {
        opacity: .4;
        transform: scale(1, 1);
    }
}

/* NOTY Quadrotech theme */
.noty_theme__quadrotech.noty_bar {
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.noty_theme__quadrotech.noty_bar .noty_close_button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: transparent;
}

.noty_theme__quadrotech.noty_bar .noty_close_button:hover,
.noty_theme__quadrotech.noty_bar .noty_close_button:focus,
.noty_theme__quadrotech.noty_bar .noty_close_button:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.noty_theme__quadrotech.noty_bar .noty_progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20)
}

.noty_theme__quadrotech.noty_bar .noty_body {
    padding: 1em;
    padding-right: 32px;
    font-size: 14px;
}

.noty_theme__quadrotech.noty_bar .noty_buttons {
    padding: 0 10px .5em 10px;
}

.noty_theme__quadrotech.noty_type__alert,
.noty_theme__quadrotech.noty_type__notification {
    background-color: #fff;
    color: #1d1d1d;
}

.noty_theme__quadrotech.noty_type__warning {
    background-color: #FA6800;
    box-shadow: 0 0 5px 0 rgba(250, 104, 0, 0.4);
    color: #fff;
}

.noty_theme__quadrotech.noty_type__error {
    background-color: #CE352C;
    box-shadow: 0 0 5px 0 rgba(206, 53, 44, 0.4);
    color: #FFF;
}

.noty_theme__quadrotech.noty_type__info,
.noty_theme__quadrotech.noty_type__information {
    background-color: #1BA1E2;
    box-shadow: 0 0 5px 0 rgba(27, 161, 226, 0.4);
    color: #FFF;
}

.noty_theme__quadrotech.noty_type__success {
    background-color: #60A917;
    box-shadow: 0 0 5px 0 rgba(96, 169, 23, 0.4);
    color: #fff;
}

/* Quadrotech theme for jQuery-Confirm */
.jconfirm.jconfirm-quadrotech .jconfirm-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

.jconfirm.jconfirm-quadrotech .jconfirm-box {
    min-width: 320px;
    max-width: 630px;
    background: #fff;
    border-radius: 0;
    padding: 30px 30px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-title-c {
    padding-bottom: 25px;
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-title {
    font-weight: 100;
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-content-pane {
    margin-bottom: 25px;
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-buttons {
    padding-bottom: 25px;
    text-align: right;
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-buttons button {
    cursor: pointer;
    font: inherit;
    background-color: rgb(244, 244, 244);
    border: 1px solid transparent;
    border-radius: 0;
    color: #333;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 80px;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all .15s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jconfirm.jconfirm-quadrotech .jconfirm-box .jconfirm-buttons .btn--primary {
    background-color: rgb(0, 120, 212);
    color: #fff;
}

/* INTEL-TEL-INPUT */
.iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.4.0/img/flags.png");
}

.intl-tel-input {
    width: 100%;
}

@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.4.0/img/flags@2x.png");
    }
}

/* ERROR PAGE */
.error-page {
    color: #596066;
    font-size: initial;
    text-align: center;
    width: 100%;
    background-image: url(../img/crossword.png);
    line-height: 1.44;
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

.fullscreen-container {
    padding: 180px 25px 0;
}

.error-page__logo {
    margin-bottom: 80px;
}

.error-page__logo .logo__img {
    max-width: 260px;
}

.error-page__title {
    color: #333;
    font-size: 2.0em;
    margin: 0 auto;
    font-weight: 400;
}

.error-page__text {
    font-size: 1.2em;
    max-width: 480px;
    margin: 0 auto 70px;
}

@media only screen and (max-width: 599px) {
    .error-page__title {
        font-size: 1.5em;
    }

    .error-page__text {
        font-size: 1em;
        margin-bottom: 40px;
    }

    .fullscreen-container {
        padding-top: 60px;
    }

    .error-page__logo {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 899px) and (min-width: 600px) {
    .error-page__title {
        font-size: 2.2em;
    }

    .error-page__text {
        font-size: 1.1em;
        margin-bottom: 60px;
    }

    .fullscreen-container {
        padding-top: 80px;
    }

    .error-page__logo {
        margin-bottom: 80px;
    }
}

/* SIGNUP OPTIONS */
.signup-options {
    text-align: center;
}

.signup-options--bordered {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e8e8e8;
}

.signup-options__title {
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
}

.signup-options__text {
    display: block;
    font-size: 13px;
    margin: 15px 0;
    letter-spacing: .3px;
    color: rgba(55, 53, 47, 0.7);
}

.recaptcha {
    text-align: center;
    display: inline;
}

.g-recaptcha > div {
    width: 400px !important;
}

.separator {
    align-items: center;
    background: #dadfe1;
    color: #333;
    display: flex;
    height: 1px;
    justify-content: center;
    margin: 30px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.separator__text, .separator__text-gray {
    padding: 0 15px;
}

.separator__text {
    background: #fff;
}

.separator__text-gray {
    background: #fafafa;
}

.disabled__input {
    background: #eee;
}

.break-word {
    word-wrap: break-word;
}

.remember-me-input input {
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.qt-dialog-header {
    text-align: left;
    font-weight: bold;
}

.ms-Dialog-subText {
    text-align: justify;
}