﻿/* PROVIDER BUTTONS */
.provider-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.provider-buttons__button {
    position: relative;
    font-weight: 600;
    text-transform: none;
    width: 100%;
    margin-top: 15px;
}

.provider-buttons__button:first-child {
    margin-top: 0;
}

/* LOGIN PAGE */
.login-btn {
    margin-top: 10px;
}

.login-page {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.login-page__inner {
    padding: 100px 60px 40px;
}

.login-page__wrapper {
    margin: 0 auto;
    width: 450px;
}

.login-page__desc-content {
    color: #333;
    text-align: center;
}

.login-page__tip {
    font-size: 16px;
    margin-bottom: 20px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.login-page__title {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #333;
}

/* LOGIN FORM */
.login-form {
    position: relative;
    width: 100%;
}

.login-form__row {
    margin-bottom: 20px;
}

.login-form__row0 {
    margin-bottom: 0;
}

.login-form__control {
    background: #fff;
}

.login-form__submit-button {
    margin-top: 20px;
    position: relative;
    font-weight: 600;
    width: 100%;
}

.login-form__forgot-pass {
    text-align: right;
    margin-bottom: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo__image {
    max-width: 370px;
}

.logo__link,
.logo__link:hover,
.logo__link:active,
.logo__link:focus {
    text-decoration: none;
}

.login-page__container {
    border: 1px solid #e0e0e0;
    padding: 30px;
    background-color: #fafafa;
}

.login-page__signup-link {
    text-decoration: none;
    font-size: 1.1em;
    color: mediumblue;
}

@media only screen and (max-width: 599px) {
    .login-page__inner {
        padding: 100px 30px 40px;
    }

    .login-page__wrapper {
        width: 100%;
    }

    .logo__image {
        width: auto;
        max-width: 320px;
        height: auto;
    }
}

@media only screen and (max-width: 449px) {
    .login-page__title {
        font-size: 26px;
    }
}

@media only screen and (max-width: 424px) {
    .login-page__inner {
        padding: 30px 15px;
    }

    .logo {
        margin-bottom: 30px;
    }

    .logo__image {
        width: auto;
        max-width: 300px;
        height: auto;
    }

    .login-page__title {
        font-size: 22px;
    }

    .login-page__container {
        padding: 15px;
    }
}
