<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="theme-color" content="#ffffff">
  <title>Login</title>
  <link rel="stylesheet"
    href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
  <link rel="stylesheet"
    href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
  <link rel="stylesheet" href="/css/core.css">
  <link rel="stylesheet" href="/themes/default/styles/style.css">
</head>

<body>
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/themes/default/styles/style.css">
  <section class="login-page">
    <div class="login-page__inner">
      <div class="login-page__wrapper">
        <div class="logo">
          <a href="#" class="logo__link">
            <img src="/themes/default/img/logo/logo.png"
              alt="qtcoremicroservices-dev-integration-sample-identity.azurewebsites.net" width="auto" height="auto"
              class="logo__image" />
          </a>
        </div>
        <div class="login-page__container">
          <div class="login-page__desc-content">
            <h1 class="login-page__title">
              Log in
            </h1>
          </div>
          <div class="login-form">
            <form asp-route="Login" method="post" asp class="login-form__form" id="login-form"
              action="<%= actionUrl %>">
              <input type="hidden" asp-for="ReturnUrl" name="ReturnUrl"
                value="/connect/authorize/callback?client_id=<%= client_id %>&amp;redirect_uri=<%= redirect_uri %>&amp;response_type=id_token%20token&amp;scope=openid%20profile%20cms_api%20identityserver_api&amp;state=5e42cf47d833464391ce3f9a86c5f53e&amp;nonce=443f4e795d24437b9c5a9761c3ee844c" />
              <fieldset>
                <div class="login-form__row form__desc">
                  <label class="form__label form__label--bold login-form__label" asp-for="Username">Email</label>
                  <input type="text" placeholder="Email" class="input login-form__control" asp-for="Username"
                    id="username" name="Username" value="microfrontends@quadrotech.com" required>
                </div>
                <div class="login-form__row">
                  <input type="checkbox" name="KeepLoggedIn" id="KeepLoggedIn" value="true" unchecked>
                  <label for="KeepLoggedIn">Keep me logged in</label>
                </div>
                <div class="login-form__row0">
                  <button class="button button--primary login-form__submit-button disable-button" name="button"
                    type="submit" value="login">Next</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
